# Function Practice Exercises

Problems are arranged in increasing difficulty:
* Warmup - these can be solved using basic comparisons and methods
* Level 1 - these may involve if/then conditional statements and simple methods
* Level 2 - these may require iterating over sequences, usually with some kind of loop
* Challenging - these will take some creativity to solve

## WARMUP SECTION:

#### LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers *if* both numbers are even, but returns the greater if one or both numbers are odd
    lesser_of_two_evens(2,4) --> 2
    lesser_of_two_evens(2,5) --> 5

In [299]:
def lesser_of_two_evens(a,b):
    if a % 2 == 0 and b % 2 == 0:
        return min(a,b)
    else:
        return max(a,b)

In [302]:
# Check
lesser_of_two_evens(8,4)

4

In [301]:
# Check
lesser_of_two_evens(7,5)

7

#### ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter
    animal_crackers('Levelheaded Llama') --> True
    animal_crackers('Crazy Kangaroo') --> False

In [303]:
def animal_crackers(text):
    x = text.split()
    return x[0][0] == x[1][0]

In [304]:
# Check
animal_crackers('Levelheaded Llama')

True

In [305]:
# Check
animal_crackers('Crazy Kangaroo')

False

#### MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 *or* if one of the integers is 20. If not, return False

    makes_twenty(20,10) --> True
    makes_twenty(12,8) --> True
    makes_twenty(2,3) --> False

In [310]:
def makes_twenty(a,b):
    return a == 20 or b == 20 or (a+b) == 20

In [311]:
# Check
makes_twenty(20,10)

True

In [312]:
# Check
makes_twenty(2,18)

True

# LEVEL 1 PROBLEMS

#### OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name
     
    old_macdonald('macdonald') --> MacDonald
    
Note: `'macdonald'.capitalize()` returns `'Macdonald'`

In [84]:
def old_macdonald(name):
    x = name[:3].capitalize() + name[3:].capitalize() 
    return x

In [86]:
# Check
old_macdonald('dungledorks')

'DunGledorks'

#### MASTER YODA: Given a sentence, return a sentence with the words reversed

    master_yoda('I am home') --> 'home am I'
    master_yoda('We are ready') --> 'ready are We'
    
Note: The .join() method may be useful here. The .join() method allows you to join together strings in a list with some connector string. For example, some uses of the .join() method:

    >>> "--".join(['a','b','c'])
    >>> 'a--b--c'

This means if you had a list of words you wanted to turn back into a sentence, you could just join them with a single space string:

    >>> " ".join(['Hello','world'])
    >>> "Hello world"

In [313]:
def master_yoda(text):
    x = text.split()
    y = x[::-1]
    return ' '.join(y)

In [314]:
# Check
master_yoda('I am home')

'home am I'

In [315]:
# Check
master_yoda('We are ready')

'ready are We'

#### ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200

    almost_there(90) --> True
    almost_there(104) --> True
    almost_there(150) --> False
    almost_there(209) --> True
    
NOTE: `abs(num)` returns the absolute value of a number

In [320]:
def almost_there(n):
    return (abs(100-n) <= 10) or (abs(200-n) <= 10)

In [321]:
# Check
almost_there(90)

True

In [322]:
# Check
almost_there(150)

False

In [323]:
# Check
almost_there(209)

True

# LEVEL 2 PROBLEMS

#### FIND 33: 

Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

    has_33([1, 3, 3]) → True
    has_33([1, 3, 1, 3]) → False
    has_33([3, 1, 3]) → False

In [337]:
def has_33(list):
    for i in range(len(list)-1):
        cv = list[i]
        if cv == 3 and list[i+1] == 3:
            return True
        
    return False

In [338]:
# Check
has_33([1, 3, 3])

True

In [339]:
# Check
has_33([1, 3, 1, 3])

False

In [340]:
# Check
has_33([3, 1, 3])

False

#### PAPER DOLL: Given a string, return a string where for every character in the original there are three characters
    paper_doll('Hello') --> 'HHHeeellllllooo'
    paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'

In [162]:
def paper_doll(text):
    new = ''
    for x in text:
        new += (x*3)
    return new

In [163]:
# Check
paper_doll('Hello')

'HHHeeellllllooo'

In [164]:
# Check
paper_doll('Mississippi')

'MMMiiissssssiiissssssiiippppppiii'

#### BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 *and* there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'
    blackjack(5,6,7) --> 18
    blackjack(9,9,9) --> 'BUST'
    blackjack(9,9,11) --> 19

In [349]:
def blackjack(a,b,c):
    y = sum([a,b,c])
    if y <= 21:
        return y
    elif 11 in [a,b,c] and y <= 31:
        return (y - 10)
    else:
        return'BUST'

In [350]:
# Check
blackjack(5,6,7)

18

In [351]:
# Check
blackjack(9,9,9)

'BUST'

In [352]:
# Check
blackjack(9,9,11)

19

#### SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.
 
    summer_69([1, 3, 5]) --> 9
    summer_69([4, 5, 6, 7, 8, 9]) --> 9
    summer_69([2, 1, 6, 9, 11]) --> 14

In [257]:
def summer_69(arr):
    if len(arr) == 0:
        return 0
    x = 0
    flag = True
    for i in range(len(arr)):
        if arr[i] == 6:
            flag = not flag        
        if flag:
            x += arr[i]
        if arr[i] == 9:
            flag = True
    return x

In [258]:
# Check
summer_69([1, 3, 5])

9

In [259]:
# Check
summer_69([4, 5, 6, 7, 8, 9])

9

In [260]:
# Check
summer_69([2, 1, 6, 9, 11])

14

# CHALLENGING PROBLEMS

#### SPY GAME: Write a function that takes in a list of integers and returns True if it contains 007 in order

     spy_game([1,2,4,0,0,7,5]) --> True
     spy_game([1,0,2,4,0,5,7]) --> True
     spy_game([1,7,2,0,4,5,0]) --> False

In [353]:
def spy_game(nums):
    
    x = [0,0,7,'y']
    
    for i in nums:
        if i == x[0]:
            x.pop(0)
        
    return len(x) == 1

In [354]:
# Check
spy_game([1,2,4,0,0,7,5])

True

In [355]:
# Check
spy_game([1,0,2,4,0,5,7])

True

In [356]:
# Check
spy_game([1,7,2,0,4,5,0])

False

#### COUNT PRIMES: Write a function that returns the *number* of prime numbers that exist up to and including a given number
    count_primes(100) --> 25

By convention, 0 and 1 are not prime.

In [269]:
def count_primes(num):
    x = 1
    for i in range(3,num+1,2):
        flag = True
        for j in range(2,i):
            if i % j == 0:
                flag = False
                break
        if flag:
            x += 1
    return x

In [357]:
# Check
count_primes(100)

25

### Just for fun:
#### PRINT BIG: Write a function that takes in a single letter, and returns a 5x5 representation of that letter
    print_big('a')
    
    out:   *  
          * *
         *****
         *   *
         *   *
HINT: Consider making a dictionary of possible patterns, and mapping the alphabet to specific 5-line combinations of patterns. <br>For purposes of this exercise, it's ok if your dictionary stops at "E".

In [296]:
dic = {'a':'  *    \n * *  \n*****\n*   *\n*   * '}


def print_big(letter):
   print(dic.get(letter))

In [297]:
print_big('a')

  *
 * *
*****
*   *
*   *

## Great Job!